@import '../../../../assets/styles/color';

.main {
  padding-top: 7em;
}

.search-all {
  padding: 1em;
  border-bottom: 1px solid $grey;
  position: relative;

  input {
    background: $white;
    border-radius: 2.5em;
    border: 1px solid $grey;

  }

  .results {
    position: absolute;
    width: 94%;
    background: $white;
    box-shadow: $box-shadow;
    z-index: 100000;
    padding: 1em;
    border-radius: .5em;

    .result{
      .row{
        margin: 1em auto;
      }
      .child{
        padding: .7em 0;
        border-bottom: 1px solid $cloud;
        cursor: pointer;
      }
    }
  }
}

.company-counter {
  display: grid;
  grid-template-columns: 60% auto;
  padding: 1em;
  border-bottom: 1px solid $grey;

  .col {
    h4 {
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      font-size: .9em;
      position: relative;
      top: .25rem;
    }
  }

  .actions {
    display: grid;
    grid-template-columns: 50% auto;

    button {
      padding: .4em !important;
      font-size: .75em !important;
      width: fit-content;
      margin: 0 auto;
    }

    .secondary {
      background: $grey !important;
      color: $black !important;
      border-color: $grey !important;
    }
  }
}
