<app-home-top-nav-bar *ngIf="locationData"></app-home-top-nav-bar>

<div class="main">

  <div class="search-all">
    <input type="search" [(ngModel)]="searchString" *ngIf="config" (keyup)="search()" [placeholder]="config.SearchPlaceHolder">
    <div class="results" *ngIf="searchString && searchResutls && searchResutls.length">
      <div class="result" *ngFor="let item of searchResutls">
        <div class="row">
         <b> {{item.Name}}</b>

         <div class="kids" *ngIf="item.Children">
          <div class="result" *ngFor="let child of item.Children" (click)="searchClicked(child)">
            <div class="child">
              {{child.Name}}
            </div>
          </div>
        </div>
        </div>

     
      </div>
    </div>
  </div>

  <div class="company-counter">
    <div class="col" *ngIf="config">
      <h4>
        {{shopsItems?.length || 0}} {{config.WebCatergoryName}} near you
      </h4>
    </div>
    <div class="z actions">
      <button [ngClass]="delivery" (click)="switchPickUpMode(DELIVERY_MODES[2])">delivery</button>
      <button [ngClass]="pickup" (click)="switchPickUpMode(DELIVERY_MODES[1])">Collect</button>
    </div>
  </div>


  <app-slider-widget *ngIf="categoriesItems" [freeImage]="freeImage" [items]="categoriesItems"
    [heading]="catergoryHeading" (itemClickedEvent)="onItemClickedEvent($event)"></app-slider-widget>

  <app-home-wide-card-widget *ngIf="shopsItems" [items]="shopsItems" (itemSelectedEvent)="onItemSelectedEvent($event)">
  </app-home-wide-card-widget>
</div>

<app-home-full-screen-loading *ngIf="loading"></app-home-full-screen-loading>



<!-- <app-slider-widget *ngIf="shopsItems" [items]="shopsItems" [heading]=" {{config.WebCatergoryNameSingular}}sHeading"></app-slider-widget> -->
<!-- <app-slider-widget *ngIf="productsItems" [items]="productsItems" [heading]="popularFoodHeading"></app-slider-widget> -->
