<div class="banner" >
  <div class="backkk">
    <div class="menu-back">
      <span class="material-icons" (click)="back()">
        arrow_back
      </span>
    </div>
  
  
    <div class="name menu-back" (click)="back()">
    Dashboard
    </div>
  </div>


</div>
<div class="container" *ngIf="widgetItems">
  <h3>
    <span>
      System {{userType}}s <br> <br>
    </span>
  </h3>


  <app-card-list-widget (itemSelectedEvent)="OnItemSelected($event)" [showFilter]="showFilter"
    [primaryAction]="primaryAction" (primaryActionEvent)="onPrimaryActionEvent($event)" [items]="widgetItems">
  </app-card-list-widget>

</div>



<div class="quick-add" *ngIf="user">
  <div class="form">
    <h3>
     {{heading}}
    </h3>

    <div class="form-item">
     <app-image-widget [image]="user.Dp" (imageChangedEvent)="onImageChangedEvent($event)"></app-image-widget>
    </div>

    <div class="form-item">
      <label for="">Full Name</label>
      <input type="text" name="" id="" [(ngModel)]="user.Name">
    </div>

    <div class="form-item">
      <label for="">Gender</label>
      <select [(ngModel)]="user.Gender">
        <option *ngFor="let cc of GENDER" [ngValue]="cc.Name"> {{cc.Name}}</option>
      </select>
    </div>

    <div class="form-item">
      <label for="">Email</label>
      <input type="email" name="" id="" [(ngModel)]="user.Email">
    </div>


    <div class="form-item">
      <label for="">Address *</label>
      <app-address-widget-dashboard [addressLineHome]="user.AddressLineHome " (adressChangedEvent)="onAdressEvent($event)">
      </app-address-widget-dashboard>
    </div>

    
    <div class="form-item" *ngIf="user.UserType == DRIVER">
      <label for="">Vehicle Type*</label>
      <select [(ngModel)]="user.CarType">
        <option *ngFor="let cc of VIHICLES" [ngValue]="cc.Name"> {{cc.Name}}</option>
      </select>
    </div>

       
    <div class="form-item" *ngIf="user.UserType == DRIVER">
      <label for="">Vehicle Reg*</label>
      <input type="text" name="" id="" [(ngModel)]="user.CarReg">
    </div>




    <div class="form-item">
      <button (click)="save()" [disabled]="!user.Name">Save</button>
      <div class="link" (click)="user = null">Cancel</div>
    </div>
  </div>
</div>


<div class="error-rr" *ngIf="error">
  <div class="data">
    <p>
      {{error}}
    </p>
  
    <button class="secondary" (click)="error=null">I get it</button>
  </div>
 
</div>