<div class="main">
  <div class="bg-image">
    <img src="assets/images/phone-logo.png" alt="">
  </div>


  <div class="intro">
    <h1>
      Discover , Order & Enjoy food
    </h1>
    <p>
      <b> Instant eats</b> is the best way to get food from your favorite local restaurants. Get it delivered to you
      warm  & fresh.
    </p>
    <br><br>
    <button class="primary" (click)="goto('home/select-location')">set up your location</button>
    <br><br> <br>
    <p (click)="goto('/home/sign-in')">
      Already have an account? <b style="color: #a27417;">Login</b>
    </p>
  </div>
</div>
