@import "../../../../../assets/styles/color";

.main {
  .bg-image,
  .form {
    left: -1em;
    top: 0;
    width: 104%;
  }

  .intro {
    left: 0;
    bottom: 10%;
    width: 100%;
    padding: 4em;
    padding-bottom: 1.5em;
    text-align: center;
  }
}

.addresses {
  padding: 0 1em;
}

._topnnav {
  position: fixed;
  width: 100%;
  max-width: 30em;
  text-align: right;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
  // height: 8em;
  z-index: 100000;
  img {
    width: 4rem;
    cursor: pointer;
  }
}
