<div class="_topnnav">
  <img src="assets/images/menuu.svg"  *ngIf="!showMenu" (click)="menu()" alt="">
  <img src="assets/images/close-menuu.svg"  *ngIf="showMenu" (click)="menu()" alt="">
</div>
<app-home-side-nav *ngIf="showMenu" (showMobileMenuEvent)="onToggleMenu($event)"></app-home-side-nav>


<div class="main" *ngIf="!user || user.UserType != 'Customer'">
  <div class="bg-image">
    <img [src]="banner" alt="">
  </div>


  <div class="intro">
    <h1>
    {{Heading}}
    </h1>
    <p>
    {{SubHeading}}
    </p>
    <br><br>
    <button class="primary" (click)="goto('home/select-location')">set up your location</button>
    <br><br> <br>
    <p (click)="goto('/home/sign-in')">
      Already have an account? <b>Login</b>
    </p>
  </div>
</div>


<div class="main" *ngIf="user && user.UserType == 'Customer'">
  <div class="bg-image">
    <img [src]="banner" alt="">
  </div>


  <div class="intro">
    <h2>
      Hello {{user.Name}} 👋
    </h2>
    <br>

    <h1>
      Deliver at:
    </h1>

  </div>

  <div class="addresses">
    <app-card-list-widget *ngIf="adresses" (itemSelectedEvent)="OnItemSelected($event)" [items]="adresses">
    </app-card-list-widget>
  </div>

  <div class="intro">
    <hr>
    <div class="or">
      Or
    </div>
    <p>
      <br>

    <p (click)="goto('/home/sign-in')">
      <b>Login</b> with a different account.

      <br>
      <app-notifications></app-notifications>

    </p>
  </div>
</div>