@import '../../../../../assets/styles/color';

.main {

  .bg-image,
  .form {
    left: -1em;
    top: 0;
    width: 104%;
  }

  .intro {
    left: 0;
    bottom: 10%;
    width: 100%;
    padding: 4em;
    text-align: center;
  }

}
