<div class="banner" *ngIf="order && order.Customer && order.Driver && user">
    <div class="backkk">

        <div class="name menu-back" (click)="back()">
            <h6>
                <i class="fa-solid fa-arrow-left"></i> Order
            </h6>
        </div>

        <div class="title" (click)="back()">
            <h6 *ngIf="user.UserType === 'Driver'">
                {{order.Customer.Name}}
            </h6>

            <h6 *ngIf="user.UserType === 'Customer'">
                {{order.Driver.Name}}
            </h6>
        </div>
    </div>


</div>

<div class="chat-module" *ngIf="order">
    <div class="empty" *ngIf="!messages || !messages.length">
        <h5>
            No message history yet.

        </h5>
    </div>

    <div class="messages">
        <div class="" *ngFor="let message of messages">






            <div class="grid-right" *ngIf="message.RelatedId === user.UserId">
                <div></div>
                <div class="sender">
                    <p>
                        {{message.Description}}
                        <span>
                             {{message.CreateDate |dateformater: 'time'}} 
                             <a *ngIf="message.ItemStatus === 'Read'"><i class="fas fa-eye"></i></a>
                        </span>
                    </p>
                </div>
            </div>

            <div class="grid-right-2" *ngIf="message.RelatedId !== user.UserId">
                <div class="receiver" >
                    <div class="_dp">
                        <!-- <img *ngIf="!message.ImageUrl" src="assets/images/def-user.svg" alt=""> -->
                        <img *ngIf="user.UserType === 'Customer'" [src]="order.Driver.Dp || 'assets/images/def-user.svg'" alt="">
                        <img *ngIf="user.UserType === 'Driver'" [src]="order.Customer.Dp || 'assets/images/def-user.svg'" alt="">
                    </div> 
                    <p>
                        {{message.Description}}
                        <span>
                            {{message.CreateDate |dateformater: 'time'}}  
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chat-text-box" *ngIf="item">
    <div class="grid">
        <div>
            <input type="text" class="form-control" [(ngModel)]="item.Description" placeholder="Type message">
        </div>

        <div>
            <button (click)="send()" class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
        </div>
    </div>
</div>