@import "../../../../../../assets/styles/color";
.banner {
  margin-top: 0;
  // position: fixed;
  // width: 100%;
  // z-index: 10000;
  // left: 0;
  // top: 0;
  .backkk {
    grid-template-columns: 40% auto;
    width: 100%;
  }
  h4 {
    margin: 0;
    padding: 0;
  }

  .title{
    span{
      display: block;
      font-size: .7em;
      left: 1.5em;
    }
  }
}

.btn{
  // position: fixed;
  // left: 0;
  // bottom: 0;
  // width: 100%;
  // z-index: 100;
}