<div class="banner">
  <div class="backkk">

    <div class="name menu-back" (click)="goto('home/my-orders')">
      <h6>
        <i class="fa-solid fa-arrow-left"></i> Orders
      </h6>
    </div>

    <div class="title" (click)="goto('home/my-orders')">
      <h6>
        My Order
        <span *ngIf="order">
          #{{order.Id}}
        </span>
      </h6>
    </div>
  </div>


</div>



<!-- <app-history-order [order]="order" *ngIf="order && order.Status === 'Delivered'"></app-history-order>
<app-history-order [order]="order" *ngIf="order && order.Status === 'Cancelled'"></app-history-order> -->


<app-current-order [order]="order" [messegeCount]="messegeCount" [user]="user" [progress]="progress" *ngIf="user && order">
</app-current-order>

<div class="actions">
  <button class="btn btn-primary" (click)="reOrder()">Order again</button>
</div>

<div class="private">


  <div class="quick-add" *ngIf="showAdd">
    <div class="form">
      <h3>
        Accepting order.
      </h3>

      <div class="form-item">
        <label for="">When are you going to ship the product?*</label>
        <input type="date" (change)="validateDate()" name="" id="" [(ngModel)]="order.EstimatedDeliveryDate">
        <div class="error" *ngIf="formError">
          {{formError}}
        </div>

        <h3 *ngIf="order.EstimatedDeliveryDate">
          <span>This order will be shipped by:</span>
          {{order.EstimatedDeliveryDate |date: 'fullDate'}}
        </h3>
      </div>

      <div class="form-item">
        <button (click)="updateOrder()" [disabled]="!order.EstimatedDeliveryDate || formError">Confirm order</button>
        <div class="link" (click)="showAdd = false">Cancel</div>
      </div>

    </div>
  </div>


  <div class="quick-add" *ngIf="showAddCancel">
    <div class="form">
      <h3>
        Cancelling order
      </h3>

      <div class="form-item">
        <button class="btn-danger" (click)="updateOrder()">Finish order cancel</button>
        <div class="link" (click)="showAddCancel = false">Cancel</div>
      </div>

    </div>
  </div>
</div>


<app-customer-feedback *ngIf="modalModel && modalModel.heading" [modalModel]="modalModel"></app-customer-feedback>