.main{
  
    position: fixed;
    background: rgb(212, 212, 212);
    width: 100%;
    height: 87.3333vh;
    z-index: 90000000;
    max-width: 34em;
    left: 50%;
    top: .5rem;
    border-radius: 1em;
    transform: translate(-50%, 0);
    padding-top: 30%;
  
    @media only screen and (max-width: 600px) {
      top: 0;
      height: 100%;
      max-width: 100%;
      border-radius: 0;
    }
  
}