
<div class="quick-add" *ngIf="user">
  <div class="form">
    <div class="logo">
      <a routerLink="">
        <img src="assets/images/common/tybo.png" alt="">
      </a>
    </div>
    <h3>
     Choose new password.
    </h3>
    <div class="form-item">
      <label for="">Please enter new password here.</label>
      <input type="password" name="" id="" [(ngModel)]="user.Password" placeholder="Password here.">
      <button (click)="save()" [disabled]="!user.Password">Save new password</button>
      <div class="link">
        <!-- <a [routerLink]="/">Cancel</a> -->
      </div>
      <!-- <div class="my-error" *ngIf="error" [innerHtml]="error"></div> -->

    </div>
  </div>
</div>



<div class="quick-add" *ngIf="showSuccess">
  <div class="form">
  
    <h3 class="happy">
     Your password updated successfully.
    </h3>

    <div class="form-item">
      <button (click)="login()">Go to login</button>
    </div>
  </div>
</div>