<div class="main" *ngIf="order">
  <div class="top-bar-conatiner">

    <div class="top-bar">
      <div class="menu-back">
        <span class="material-icons" (click)="back()">
          west
        </span>
      </div>
      <div class="logo">

      </div>

      <div class="name">
        Order Review.
      </div>

      <div class="btn-menu">



      </div>
    </div>
  </div>

  <div class="cart-items">
    <div class="errors" *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
    <app-cart-items [order]="order" [hideDelete]="true" [shippings]="shippings" [page]="'checkout'" [Class]="'grid'">
    </app-cart-items>
  </div>

  <div class="payfast-form">
    <form ngNoForm action="https://www.payfast.co.za/eng/process" method="POST">
      <span *ngIf="user">
        <input type="hidden" name="merchant_id" [value]="merchantId">
        <input type="hidden" name="merchant_key" [value]="merchantKey">
        <input type="hidden" name="return_url" [value]="shopingSuccesfulUrl">
        <input type="hidden" name="cancel_url" [value]="paymentCancelledUrl">
        <input type="hidden" name="notify_url" [value]="paymentCallbackUrl">

        <input type="hidden" name="name_first" [value]="user.Name">
        <input type="hidden" name="name_last" [value]="user.Surname">
        <input type="hidden" name="email_address" [value]="user.Email">
        <input type="hidden" name="cell_number" [value]="user.PhoneNumber">


        <input type="hidden" name="amount" [value]="order.Total">
        <input type="hidden" name="item_name" [value]="productName">
        <input type="hidden" name="item_description" [value]="productDescription">


        <input type="hidden" name="email_confirmation" value="1">
        <input type="hidden" name="confirmation_address" value="payments@tybo.co.za">
      </span>

      <div class="actions">
        <button type="button" (click)="payOnline()" *ngIf="user && order && order.Orderproducts.length"
          class="cta">Proceed to online
          payments</button>
        <button type="button" *ngIf="user" (click)="payCash()" style="margin-top: .9rem;" class="cta shop-more secondary">Pay with cash on
          delivery</button>
        <button type="button" *ngIf="user" (click)="payCard()" style="margin-top: 0;background: rgb(27, 225, 116) !important; color: #000 !important; border: none !important;" class="cta shop-more secondary">Pay with card on
          delivery</button>
        <button type="button" *ngIf="!user" (click)="goto('home/sign-in')" class="cta">Login & checkout</button>
        <button type="button" *ngIf="!user" (click)="goto('home/sign-up')" class="cta shop-more secondary">Register &
          checkout</button>


        <div class="quick-add" *ngIf="showOnlinePayment">
          <div class="form">
            <img src="assets/images/payfast-icon.png" alt="">

            <h1>Total payment {{order.Total | currency:'R'}}
            </h1>
            <br>
            <p>
              You will be redirected to payfast to finish your secured payment

            </p>

            <div class="form-item">
              <button type="submit" class="cta">Proceed to
                payfast</button>
              <div class="link" (click)="showOnlinePayment = false">Cancel</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>



<div class="quick-add" *ngIf="showCashConfirm">
  <div class="form">
    <img src="assets/images/card-payment.png" alt="">

    <h1>Cash required {{order.Total | currency:'R'}}
    </h1>
    <br>
    <p>
      Please ensure that you have enough cash to pay <b> Instant eats</b> driver.
      <br>
      Our drivers carry limited change and they also carry credit card machine
    </p>

    <div class="form-item">
      <button (click)="onCashConfirm()">Confirm Cash Order</button>
      <div class="link" (click)="showCashConfirm = false">Cancel</div>
    </div>
  </div>
</div>

<div class="quick-add" *ngIf="showCardConfirm">
  <div class="form">
    <img src="assets/images/atm.png" alt="">

    <h1>Tap or Swipe {{order.Total | currency:'R'}}
    </h1>
    <br>
    <p>
      Please ensure that you have your card with you to pay <b> Instant eats</b> driver.
      <br>
      Our drivers carry credit card machine.
    </p>

    <div class="form-item">
      <button (click)="onCardConfirm()">Confirm Card Order</button>
      <div class="link" (click)="showCardConfirm = false">Cancel</div>
    </div>
  </div>
</div>
<app-notifications></app-notifications>