<div class="_order" *ngIf="orders">

  <div class="user-section" *ngFor="let order of orders; let i = index">

    <div class="card">
      <div class="shop">
        <div class="top">
          <div class="col">
            <img [src]="order.Company.Dp" alt="">
          </div>
          <div class="col">
            <h4>
              {{order.Company.Name}}
            </h4>
          </div>
          <div class="col">
            <button class="tertiary">{{order.Shipping}}</button>

          </div>
        </div>

        <div class="bot">

          Order No... #{{order.Id}} <br>
          Order Status... <span class="order-status">{{order.Status}}</span> <br>
          Payment Method... <span class="">{{order.PaymentMethod}}</span> <br>
          Order Date... {{order.CreateDate | dateformater}} {{order.CreateDate | dateformater: 'time'}} <br>
          <hr>
          <p *ngFor="let item of order.Orderproducts">
            {{item.Quantity}} x {{item.ProductName}} <span
              *ngIf="user && (user.UserType === 'Admin' ||  user.UserType === 'Super')">... {{item.SubTotal |
              currency:'R'}}</span>
          </p>

          <p *ngIf="user && (user.UserType === 'Admin' ||  user.UserType === 'Super')">
            Delivery Fee... {{order.ShippingPrice | currency:'R'}} <br>
          </p>

          <b *ngIf="user && user.UserType === 'Admin'">
            Order Total... {{order.ItemsTotal | currency:'R'}} <br>

          </b>

          <b *ngIf="user && user.UserType === 'Super'">
            {{config.WebCatergoryNameSingular}} Total... {{order.ItemsTotal | currency:'R'}} <br>

          </b>
          <b *ngIf="user && user.UserType === 'Super'">
            Order Total... {{order.Total | currency:'R'}} <br>

          </b>
          <a *ngIf="user && (user.UserType === 'Admin' ||  user.UserType === 'Super')" class="link-info"
            (click)="view(order)"> <br>
            Full Order details</a>
          <br>
          <hr>
          Customer: {{order.CustomerName}} <br>
          Address: {{order.FullAddress}} <br>
          <a style="font-weight: 700; color: rgb(5, 37, 104)" *ngIf="order.CustomerPhone"
            [href]="'tel:'+ order.CustomerPhone"><i class="fa fa-phone" style="margin-right:1rem;"></i>
            {{order.CustomerPhone}}</a>

          <hr>

          <p>
            <i class="fa-solid fa-person-biking" style="margin-right:1rem;"></i> {{order.DriverName || noDriver}}
          </p>


        </div>




        <div class="actions">


          <select class="tertiary" *ngIf="order.Status !== ORDER_STATUSES[6] && order.Status !== ORDER_STATUSES[5]"
            (change)="cancel(order)" style="padding: .4rem !important; margin: 0;" [(ngModel)]="cancelReason">
            <option value="" selected>Cancel Order</option>
            <option value="Product is not available at the store">Product is not available at the store
            </option>
            <option value="Currently can't process your order">Currently can't process your order</option>
          </select>

          <button *ngIf="order.StatusId == PENDINGORDERS" class="primary"
            (click)="orderAction(ORDER_STATUSES[2], order)">Accept
            order
          </button>

          <button *ngIf="order.Status === ORDER_STATUSES[2]" class="primary"
            (click)="orderAction(ORDER_STATUSES[3], order)">{{ORDER_STATUSES[3]}}</button>

          <button *ngIf="order.Status === ORDER_STATUSES[3]" class="primary"
            (click)="orderAction(ORDER_STATUSES[4], order)">Mark as On the way</button>

          <button *ngIf="order.Status === ORDER_STATUSES[4]" class="primary"
            (click)="orderAction(ORDER_STATUSES[5], order)">Mark as
            Delivered</button>

        </div>
      </div>

    </div>

  </div>

</div>


<div class="quick-add" *ngIf="showAdd">
  <div class="form">
    <img src="assets/images/cooking.svg" alt="">

    <h1>Estimated preparation time?
    </h1>

    <div class="form-item">
      <input type="tel" name="" (keyup)="calTime()" id="" placeholder="Time in Minutes"
        [(ngModel)]="order.DeliveryMins">
      <h3 *ngIf="order.EstimatedDeliveryDate">
        <span>This order will be done by:</span>
        {{order.EstimatedDeliveryDate| date:'mediumTime'}}
      </h3>
    </div>
    <div class="select-driver" *ngIf="order.Shipping === 'Delivery' && users">
      <hr />
      <label for="">Select driver</label>
      <select name="" id="" [(ngModel)]="driverId" (change)="driverSelected()">
        <option [value]="item.UserId" *ngFor="let item of users">
          <!-- {{item.Name}} {{user.Surname}} -->
          {{item.Name}}- {{item.Email}}
        </option>
      </select>
    </div>

    <div class="form-item">
      <button (click)="updateOrder()"
        [disabled]="!order.EstimatedDeliveryDate || formError || (order.Shipping === 'Delivery' && !order.DriverId)">Accept
        order</button>
      <div class="link" (click)="showAdd = false">Cancel</div>
    </div>

  </div>
</div>


<div class="quick-add" *ngIf="showAddCancel">
  <div class="form">
    <h3>
      Cancelling order
    </h3>

    <div class="form-item">
      <button class="btn-danger" (click)="updateOrder()">Finish order cancel</button>
      <div class="link" (click)="showAddCancel = false">Cancel</div>
    </div>

  </div>
</div>



<div class="quick-add" *ngIf="showAssignDrivers">
  <div class="form">
    <h3>
      Assign Drivers
    </h3>

    <div class="form-item">
      <div class="driver" *ngFor="let item of users">
        <div class="col">
          <img [src]="item.Dp || 'assets/images/def-user.svg'" alt="">
        </div>

        <div class="col">
          <h4>
            {{item.Name}}
          </h4>
        </div>

        <div class="col">
          <button class="secondary" (click)="saveAssignDriver(item)">Assign</button>
        </div>
      </div>
    </div>

    <div class="form-item">
      <div class="link" (click)="showAssignDrivers = false">Close</div>
    </div>

  </div>
</div>


<div style="padding-top: 15em;">
  <app-dash-loader *ngIf="loading"></app-dash-loader>
</div>