<div class="account-form mobile-full">
  <div class="top-bar-conatiner">

    <div class="top-bar">
      <div class="menu-back">
        <span class="material-icons" (click)="back()">
          chevron_left
        </span>
      </div>


      <div class="name">
       Change your password.
      </div>

    </div>
  </div>

 

  <div class="form">
    <div class="form-container">
      <!-- <h1 class="h1">
          Login to your account.
        </h1> -->

      <div class="logo">
        <a routerLink="">
          <img src="assets/images/common/logo.jpeg" alt="">
        </a>
      </div>

      <!-- <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" [(ngModel)]="user.Email" disabled id="exampleInputEmail1"
          placeholder="youremail@mail.com">

      </div> -->
      <br><br><br><br>
      <div class="form-group">
        <label for="exampleInputPassword1">
         New Password
          <mat-icon class="pointer" (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </label>
        <input type="password" [type]="hidePassword? 'password': 'text'" class="form-control" [(ngModel)]="user.Password"
          id="exampleInputPassword1" placeholder="*************">

      </div>
      <div class="form-group">
        <div class="action">
          <button class="btn btn-primary" mat-button color="primary" (click)="save()" [disabled]="!user.Password">
            Save Changes
          </button>
          <h5 class="error">{{error}}</h5>
        </div>
      </div>
     

    </div>

  </div>
</div>

<app-home-full-screen-loading *ngIf="showLoader"></app-home-full-screen-loading>
