<div class="overlay" (click)="toggleMenu(false)"></div>

<div class="items">

  <div class="profile" *ngIf="user">
    <h2>
      {{user.Name}}
    </h2>
    <p>
      {{user.Email}}
    </p>
  </div>
  <div class="item" *ngFor="let item of items" (click)="itemClicked(item)">
    <div class="col">
      <img [src]="item.ImageUrl" alt="">
    </div>

    <div class="col">
      <h3>
        {{item.Label}}
      </h3>
    </div>
  </div>

  <div class="item" *ngIf="user" (click)="logout()">
    <div class="col">
      <img src="assets/images/profle/logout.png" alt="">
    </div>

    <div class="col">
      <h3>
        Logout
      </h3>
    </div>
  </div>
</div>
