@import '../../../../../assets/styles/color';

.overlay {
  z-index: 50000;
}

.items {
  position: fixed;
  z-index: 50001;
  left: 50%;
  width: 70%;
  height: 100vh;
  top: 0;
  background: $white;
  // animation: moveInLeft .2s ease-out 0s;
  // animation-fill-mode: backwards;
  max-width: 25em;
  left: 50%;
  top: 5.2em;
  border-radius: 0.5em;
  transform: translate(-67.555555%, 0);


  @media only screen and (max-width: 600px) {
    top: 0;
  }


  .item {
    display: grid;
    grid-template-columns: 3em auto;
    text-align: left;
    padding: .75em 1em;
    margin: .5em 0;

    img {
      width: 2em;
      display: block;
    }

    h3 {
      font-weight: 500;
      font-size: 1.4em;
    }
  }

  .profile {
    background: $pop;
    padding: 2em 1.4em;
    padding-top: 4em;
  }
}
