.info{
    padding-top: 2%;
    display: block;
    text-align: center;
    padding: 1em;
    border-radius: .5em;
    background: rgb(243, 194, 194);
    padding: 1em;
    p{
        font-weight: 600;
    }

}