<div class="cards" *ngIf="items">
  <div class="card" style="margin-bottom: 2em; cursor: default;" *ngIf="showFilter">
    <input type="search" class="search-input" [(ngModel)]="searchString" placeholder="🔎 Filter by name">
    <button class="primary" *ngIf="primaryAction" (click)="primaryActionClicked()"> {{primaryAction}} </button>
  </div>
  <div class="card" *ngFor="let item of items | homesliderwidgetpipe: searchString;">
    <div class="card-grid" style="cursor: pointer;" (click)="goto(item.Link, item)">
      <div class="col">
        <img [src]="item.Image" alt="">
      </div>
      <div class="col details">
        <h3>
          {{item.Name}}
        </h3>

        <p>
          {{item.Description}}
        </p>
        <p *ngIf="item.Warning" class="warning">
          {{item.Warning}}
        </p>

        <div class="tags">
          <div class="tag">
            <span class="material-icons">
              schedule
            </span>
            {{item.DeliveryTime}}
          </div>
          <div class="tag">
            <span class="material-icons">
              payments
            </span>
            R{{item.MinimumOrder}} Min order
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
