$dashboard-body-width: 100%;
$padding: 26em;
// $primary:#000000;
$primary: #000000;
$tec: #009cd7;
$red: #ff0022;
$mid: #333333;
$all: #333333;
$overlay: rgba(136, 132, 132, 0.774);
$charcoal: #2f3640;
$popbg: #f3cf3d77;
$hotpink: #d30f52;

// $pop:#EE3575;
// $pop:#F3BB1C;
// $pop:#23830D;
$pop: hotpink;
$pop-darker: #b39006;
$secondary: #2ecc71;
$success: #00a110;
$tertiary: #5469bc;
$primary-purple: #ca2186;
$primary-05: #0cb16469;
$info: #5bcadd;
$info-05: #3498db91;
$black: #000000;
$white: #ffffff;
$grey: #ced6e0;
$darker-grey: #8f8f8f;
$main-bg: #fff;
// $main-bg: #000000;
// $silver:#bdc3c7;
// $silver:#656666;
$silver: #80858b;
$danger: #ff4757;
$danger-05: #ff47569b;
$cloud: #eaeded;
$cloud-05: #eaeded78;
$warn: #e4c22e;
$city-ligth: #dfe6e9;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow-hover: 0 3px 6px rgba(19, 18, 18, 0.075), 0 3px 8px rgba(0, 0, 0, 0.048);
$border-radius: 0.8rem;

// dark

//status

$warn-bg: #fff3e7;
$warn-color: #ffaa5a;

$danger-bg: #fde9eb;
$danger-color: #ec6687;

$success-bg: #e5f7f9;
$success-color: #58cfd3;

$input-border: #ccc;
$max-width: 90em;
$max-width-devider: 1.5;

$google: #df4938;
$facebook: #3b5998;
